
$font-size-header: 26px;
$font-size-label: 20px;
$font-size-content: 18px;

@font-face {
    font-family: 'Simpler-Regular';
    src: url('./simpler-cdnfonts/Simpler-Regular.otf');
}


@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/Rubik-Regular.ttf');
}