<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="header mt-3">
                    <h1 i18n="@@templates.Title">Tag For Bag - הפתרון למזוודות אבודות!</h1>
                </div>
                <div class="second-header">
                    <h2 i18n="@@templates.SubTitle">עם Tag For Bag תכינו תג QR מותאם אישית שאותו
                        תוכלו להדפיס לגזור ולהדביק על המזוודה</h2>
                </div>

                <div class="content mx-auto">
                    <p i18n="@@templates.InnerText">חוששים לאבד את המזוודה בשדה התעופה? גם אתם נבהלתם מערימות המזוודות
                        בנתב"ג? אין סיבה לחשוש!
                        עם תיק תג תיצרו תג QR שאפשר להדפיס ולהדביק על המזוודה או התיק, ובסריקתו מגיעים אוטומטית לצ'אט
                        WhatsApp איתכם
                        כך שיהיה ניתן להשיג אתכם תיק תק ולמנוע אובדן של המזוודה היקרה שלכם!</p>
                </div>

            </div>
            <app-createQrCode></app-createQrCode>

        </div>
        <div class="col-md-6 img">
            <div class="image">
                <img class="passport">
            </div>
        </div>
    </div>

</div>
